.btn {
  background-color: #add8e6;
  /* Light blue background */
  color: white;
  padding: 5px 10px;
  /* Reduzido para deixar o botão mais fino */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* Tamanho da fonte reduzido */
  transition: background-color 0.3s ease;
  margin: 5px;
}

.btn:hover {
    background-color: #87ceeb; 
  }
  
.btn:active {
    background-color: #6495ed; 
  }
