@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.footer {
    background: linear-gradient(180deg, #f9f9f9 0%, #e2e2e2 100%); /* Gradiente mais suave */
    color: #333;
    text-align: center;
    padding: 15px 10px; /* Reduzi o padding para um visual mais compacto */
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1); /* Sombra mais sutil */
    font-family: 'Roboto Mono', monospace; /* Aplicando Roboto Mono */
    z-index: 1000;
}

.footer p {
    margin: 5px 0; /* Reduzi o espaço entre as linhas */
    font-size: 15px; /* Tamanho de fonte menor para um visual mais clean */
    font-weight: 700; /* Fonte em negrito */
}

.footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: 700; /* Fonte em negrito para links */
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-content {
    max-width: 1000px; /* Reduzi a largura máxima do conteúdo */
    margin: 0 auto; /* Mantém o conteúdo centralizado */
}
