* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Garante que html e body ocupem toda a altura da viewport */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #98B9F2; /* Cor de fundo que cobre toda a tela */
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* Permite que o conteúdo se estenda verticalmente */
}

.main-content {
  flex: 1; /* Permite que o conteúdo principal ocupe o restante do espaço disponível */
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; 
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 12px;
  border: 1px solid #98B9F2; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

input {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
  border-color: #00796b; 
  background-color: #ffffff; 
  outline: none;
}

.btn {
  background-color: #00796b; 
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.btn:hover {
  background-color: #004d40; 
  transform: translateY(-2px); 
}

.btn:active {
  background-color: #003d34; 
  transform: translateY(0); 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center; 
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem; 
}

h2 {
  font-size: 2rem; 
}


