/* src/Navbar.css */
.navbar {
  background-color: #add8e6; /* Light blue background */
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar a:hover {
  color: #1e90ff; 
  text-decoration: underline;
  transform: scale(2.2); 
}
